@import "fonts";

$buttonPassive: #ff9514;
$buttonHover: #111111;
$buttonPressed: #575757;
$buttonDisabled: rgba(255, 149, 20, 0.4);
$textWhite: #ffffff;
$inputBg: #f3f3f4;
$sliderBg: #e1e1e1;
$textDark: #575757;
$inputDarkText: #333e48;
$titleFont: "Nekst";
$mainFont: "Gilroy";
