@import "mixins", "variables";

.app {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $textWhite;
  font-family: $mainFont;

  @include sm {
    @include toRem(padding, 20);
  }

  @include md {
    @include toRem(padding, 36);
  }

  @include lg {
    @include toRem(padding, 48);
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-items: start;
  gap: 2rem;

  @include sm {
    flex-direction: column;
  }
  @include lg {
    @include toRem(gap, 44);
  }

  @include xl {
    gap: 2rem;
  }
}

.grid_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  @include sm {
    @include toRem(gap, 30);
  }

  @include lg {
    @include toRem(gap, 44);
  }
}

.slider_grid {
  display: -ms-grid;
  display: grid;
  width: 100%;

  @include sm {
    @include toRem(gap, 30);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 96px);
  }

  @include lg {
    @include toRem(gap, 44);
    grid-template-rows: repeat(3, 119px);
  }

  @include xl {
    @include toRem(column-gap, 32);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 119px);
  }
}

.deal_grid {
  display: -ms-grid;
  display: grid;
  width: 100%;

  @include sm {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  @include md {
    @include toRem(column-gap, 85);
    @include toRem(row-gap, 44);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  @include xl {
    @include toRem(column-gap, 32);
    justify-content: end;
    align-items: flex-end;
    grid-template-columns: repeat(3, minmax(427px, 1fr));
    grid-template-rows: 1fr;
  }
}

.title {
  font-weight: 900;
  font-family: $titleFont;

  @include sm {
    @include toRem(font-size, 34);
    line-height: 90%;
  }

  @include md {
    @include toRem(font-size, 54);
  }
  @include xl {
    max-width: 50%;
  }
}

.deal_container {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: center;

  @include sm {
    @include toRem(gap, 10);
  }

  @include md {
    @include toRem(gap, 16);
  }
}

.sub_title {
  font-family: $mainFont;

  @include sm {
    @include toRem(font-size, 14);
  }
  @include md {
    font-size: 1rem;
  }
}

.total {
  font-family: $titleFont;
  font-weight: 900;

  @include sm {
    @include toRem(font-size, 22);
  }

  @include md {
    @include toRem(font-size, 54);
  }
}

.button_main {
  background-color: $buttonPassive;
  color: $textWhite;
  font-family: $titleFont;
  border-radius: 50px;
  border: transparent;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 30px;
  height: 68px;
  width: 100%;
  max-width: 426px;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:disabled {
    background-color: $buttonDisabled;
    cursor: not-allowed;
    &:hover {
      background-color: $buttonDisabled;
    }
  }

  @media (hover: hover) {
    button:hover {
      background-color: $buttonHover; /* solves sticky problem */
    }
  }
  &:hover {
    background-color: $buttonHover;
  }

  &:active {
    background-color: $buttonPressed;
  }
}

.loading_ring {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;

  div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: loading_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    // -webkit-animation: loading_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  div:nth-child(1) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }

  div:nth-child(2) {
    animation-delay: -0.15s;
    -webkit-animation-delay: -0.15s;
  }

  div:nth-child(3) {
    animation-delay: -0.05s;
    -webkit-animation-delay: -0.05s;
  }
}

@keyframes loading_ring {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading_ring {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
  }
}
