@import "mixins", "variables";

.container {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.range {
  margin-top: -2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1px;
  background: $sliderBg;
  outline: none; /* Remove outline */
  @include toRem(margin-left, 20);
  @include toRem(margin-right, 20);
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border: transparent;
  z-index: 20;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: $buttonPassive;

    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;

    cursor: pointer;
    &:hover {
      // scale: 1.1;
      transform: scale(1.1);
    }
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: transparent;
    border-radius: 50%;
    background: $buttonPassive;
    cursor: pointer;
    &:hover {
      // scale: 1.1;
      transform: scale(1.1);
    }
  }

  @include sm {
    margin-left: 1rem;
    margin-top: -2px;
  }

  @include md {
    @include toRem(margin-top, -2);
  }

  @include lg {
    @include toRem(margin-top, -22);
  }
  @include xl {
    @include toRem(margin-top, -29);
  }
}

.text_input_container {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  position: relative;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background-color: transparent;
}

.disable_overlay {
  position: absolute;
  pointer-events: none;
  height: 140%;
  width: 100%;
  border-radius: 12px;
  background-color: rgba($textWhite, 0.4);
  z-index: 99;
  &:hover {
    pointer-events: none;
  }
}

.text_input {
  @include toRem(height, 60);
  @include toRem(font-size, 22);
  @include toRem(padding-left, 20);
  @include toRem(padding-right, 20);
  -webkit-appearance: none;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 800;
  color: $inputDarkText;
  border-radius: 16px;
  background-color: $inputBg;
  border: 2px solid transparent;

  &:focus {
    background-color: $textWhite;
    outline: transparent;
    border: 2px solid $inputBg;
  }
}

.value_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  @include toRem(right, 20);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @include toRem(font-size, 30);
  color: $inputDarkText;
  font-family: $titleFont;
  font-weight: 900;
}

.percent_sign {
  position: absolute;
  z-index: 25;
  right: 6px;
  @include toRem(font-size, 20);
}

.value_input_percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: darken($inputBg, 3);
  border: 2px solid transparent;
  @include toRem(font-size, 20);
  width: 35px;
  padding: 8px;
  border-radius: 10px;
  color: $inputDarkText;
  font-family: $titleFont;
  font-weight: 900;

  &:focus {
    background-color: $textWhite;
    outline: 10px;
    border: 2px solid $inputBg;
  }
}

.title {
  font-size: 1rem;
  font-family: $mainFont;

  @include sm {
    margin-bottom: 1rem;
  }

  @include xl {
    margin-bottom: 0;
  }
}

.range_follower {
  position: absolute;
  left: 1rem;
  right: 1rem;
  padding: 1px;
  bottom: 0;
  border-radius: 5px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($buttonPassive),
    to($buttonPassive)
  );
  background-image: -o-linear-gradient($buttonPassive, $buttonPassive);
  background-image: linear-gradient($buttonPassive, $buttonPassive);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  z-index: 20;

  @include md {
    transform: translate(0%, 1px);
  }

  @include lg {
    transform: translate(0%, -2px);
  }
  @include xl {
    transform: translate(0%, -6px);
  }
}
